<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700,900|Playfair+Display:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />

    <!-- Resume Specific Stylesheet -->
    <link rel="stylesheet" href="demos/resume/resume.css" type="text/css" />
    <link rel="stylesheet" href="demos/resume/css/fonts.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/colors.php?color=7B6ED6" type="text/css" />

    <!-- Document Title
    ============================================= -->
    <title th:text="${name} + ', ' + 'I hope you interested to hire me'"></title>

</head>

<body class="stretched sticky-responsive-menu">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header sticky-transparent static-sticky">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="visitor.html" class="standard-logo font-primary ls3" style="line-height: 90px;">My CV</a>
                    <a href="visitor.html" class="retina-logo font-primary ls3" style="line-height: 90px;">My CV</a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
                        <li class="current"><a href="#" data-href="#wrapper"><i class="icon-line2-home"></i><div>Intro</div></a></li>
                        <li><a href="#" data-href="#section-about"><i class="icon-line2-user"></i><div>About</div></a></li>
                        <li><a href="#" data-href="#section-skills"><i class="icon-line2-star"></i><div>Skills</div></a></li>
                        <li><a href="#" data-href="#footer"><i class="icon-line2-envelope"></i><div>Contact</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

    <section id="slider" class="slider-element full-screen force-full-screen clearfix">
        <div class="full-screen force-full-screen" style="position: fixed; width: 100%; background: #FFF url('demos/resume/images/hero-image/1.png') no-repeat top center; background-size: cover; background-attachment: fixed;">

            <div class="container clearfix">
                <div class="slider-caption slider-caption-left">
                    <h2 class="font-primary ls5" data-animate="fadeIn">Lubby Masfar</h2>
                    <p class="t300 ls1 d-none d-sm-block" data-animate="fadeIn" data-delay="400">Simple Design Methodology.<br>Your Freelancer.</p>
                </div>
            </div>

        </div>
        <div class="full-screen force-full-screen blurred-img" style="position: fixed; width: 100%; top: 0; left: 0; background: #FFF url('demos/resume/images/hero-image/1.jpg') no-repeat top center; background-size: cover; background-attachment: fixed;"></div>
    </section>

    <!-- Content
    ============================================= -->
    <section id="content" class="nobg">

        <div class="content-wrap nobottompadding nobg">

            <div id="section-about" class="section page-section nomargin clearfix" style="background: #EEE url('demos/resume/images/sections/1.png') no-repeat center center; background-size: cover; padding: 100px 0">
                <div class="container clearfix">
                    <div class="row clearfix">
                        <div class="col-md-5 offset-md-7 clearfix">
                            <div class="heading-block">
                                <h2 class="font-secondary">About Me.</h2>
                                <span>Computer Science student. UI/UX Enthusiast. Interest with Web Developer.</span>
                            </div>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="notopborder"><strong>Name:</strong></td>
                                    <td class="notopborder">Lubby Masfar M.</td>
                                </tr>
                                <tr>
                                    <td><strong>Birthdate:</strong></td>
                                    <td>Tegal, 10 Maret 1995</td>
                                </tr>
                                <tr>
                                    <td><strong>Email:</strong></td>
                                    <td>lubbymasfar@gmail.com</td>
                                </tr>
                                <tr>
                                    <td><strong>Address:</strong></td>
                                    <td>Jalan Material No 18, Srengseng Sawah, Jagakarsa, Jaksel</td>
                                </tr>
                                <tr>
                                    <td><strong>Education:</strong></td>
                                    <td>Computer Science - University of Indonesia</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="video-wrap">
                    <div class="video-overlay d-sm-block d-md-none" style="background: rgba(255,255,255,0.9);"></div>
                </div>
            </div>

            <div id="section-skills" class="section nomargin page-section clearfix" style="padding-bottom: 50px">
                <div class="container clearfix">
                    <div class="heading-block">
                        <h2 class="font-secondary center">My Experiments.</h2>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-html5" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">HTML5</h3>
                            <p style="color:#AAA;">Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-code" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Javascripts</h3>
                            <p style="color:#AAA;">Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-picture" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Photoshop</h3>
                            <p style="color:#AAA;">Optimized code that are completely customizable and deliver unmatched fast performance.</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-wordpress" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Wordpress</h3>
                            <p style="color:#AAA;">Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line-layers" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Joomla</h3>
                            <p style="color:#AAA;">Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-line2-pencil" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Illustrator</h3>
                            <p style="color:#AAA;">Complete control on each &amp; every element that provides endless customization possibilities.</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-css3" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">CSS3</h3>
                            <p style="color:#AAA;">Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-subscript" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">PHP</h3>
                            <p style="color:#AAA;">Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-search2" style="color: #DDD"></i></a>
                            </div>
                            <h3 class="t400 ls2" style="color: #FFF">Seo</h3>
                            <p style="color:#AAA;">We have covered each &amp; everything in our Documentation including Videos &amp; Screenshots.</p>
                        </div>
                    </div>

                </div>
            </div>

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="page-section dark noborder nopadding clearfix" style="background-color: #1C1C1C;">

        <div class="container clearfix">

            <!-- Footer Widgets
            ============================================= -->
            <div class="footer-widgets-wrap clearfix" style="padding: 80px 0">
                <div class="col_one_fourth">
                    <div class="footer-logo"><span class="t400 color ls1" style="font-size: 22px; ">LubbyMasfar</span><br><small class="ls3 uppercase" style="color: rgba(255,255,255,0.2);">&copy; 2019 Reserved.</small></div>
                </div>
                <div class="col_three_fourth col_last">
                    <div class="col_one_third">
                        <div class="widget widget_links clearfix">
                            <h4>Contact Us</h4>
                            <div class="footer-content">
                                <abbr title="Email Address"><strong>Email:</strong></abbr> lubbymasfar@gmail.com
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="widget clearfix">
                            <h4>Location</h4>
                            <div class="footer-content">
                                <address>
                                    <strong>Headquarters: </strong>My Home<br>
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="widget widget_links clearfix">
                            <h4>Social</h4>
                            <a href="#" class="social-icon nobg si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon nobg si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon nobg si-small si-light si-instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights" style="background-color: #111;">

            <div class="container clearfix">

                <div class="col_full center nobottommargin">
                    Copyrights &copy; 2019 All Rights Reserved by Masfar<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="js/functions.js"></script>

<script>
    jQuery(window).scroll(function() {
        var pixs = jQuery(window).scrollTop(),
            opacity = pixs / 650,
            element = jQuery( '.blurred-img' ),
            elementHeight = element.outerHeight(),
            elementNextHeight = jQuery('.content-wrap').find('.page-section').first().outerHeight();
        if( ( elementHeight + elementNextHeight + 50 ) > pixs ) {
            element.addClass('blurred-image-visible');
            element.css({ 'opacity': opacity });
        } else {
            element.removeClass('blurred-image-visible');
        }
    });
</script>

</body>
</html>